fastapi
uvicorn
python-dotenv
sqlalchemy
psycopg2-binary
pydantic
python-jose[cryptography]
passlib[bcrypt]
python-multipart
httpx
uvicorn[standard]
pydantic-settings
email-validator
alembic
requests
asyncpg